.ticket {
	border: 1px solid lighten(#323268, 15%);
	background-color: #F64488;
	color: white;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: center;
	padding: 5px;
	width: 150px;
	height: 180px;
	position: relative;
	align-items: center;

	&__headings {
		margin-top: 5px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		gap: 25px;
	}

	&__heading {
		&--name {
			font-size: 16px;
		}
		&--role {
			color: lighten(#323268, 15%);
			font-size: 1rem
		}
	}


	&__counter {
		border: 1px solid lighten(#323268, 15%);
		border-radius: 0  0 4px 4px;
		padding: 4px;
		position: absolute;
		width: calc(100% - 12px);
		margin-bottom: 6px;
		bottom: 0;
		color: white;
		background-color: #927196;

		&-controls {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 4px;

			.ticket__counter {
				&-increment,
				&-decrement {
					display: inline;
					background-color: lighten(#323268, 15%);
					border: none;
					border-radius: 3px;
					color: white;
				}
			}
		}
	}
}
