.ticket {
	border: 2px solid black;
	display: flex;
	flex-direction: column;
	gap: 16px;
	text-align: center;
	padding: 5px;
	margin: 2px;
	max-width: 150px;
	height: 180px;
	position: relative;
	align-items: center;

	&__counter {
		border: 2px solid black;
		padding: 4px;
		position: absolute;
		width: calc(100% - 5px);
		margin: 3px;
		bottom: 0;

		&-controls {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 4px;

			.ticket__counter {
				&-increment, &-decrement {
					display: inline;
				}
			}
		}
	}
}
